
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">  
</head>
  <body ng-app>
  <div ng-controller="HomeController">

      <button ng-repeat="(mood, events) in moods" ng-click="getEventsByMood(mood)">{{mood}}</button>

      <h3 ng-repeat="category in categories">{{category}}</h3>
    <!-- <h3 ng-repeat="event in events">{{event.TITRE}}</h3> -->
  </div>
    
    <script src="client/lib/angular/angular.js"></script>
    <script src="client/javascripts/linq.min.js"></script>
    <script src="client/javascripts/app.js"></script>
</body>
</html>
