.date-selection {
    display: inline-block;
    background-color: #1270AF;
    padding: 5px 10px;
    cursor: pointer;
}

.datepicker:hover,
.datepicker {
    color: white;
    text-decoration: none;
}

hr {
    width: 100%;
}

button.mood {
    margin: 6px;
}
