[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.date-selection {
    display: inline-block;
    background-color: #1270AF;
    padding: 5px 10px;
    cursor: pointer;
}

.datepicker:hover,
.datepicker {
    color: white;
    text-decoration: none;
}

hr {
    width: 100%;
}

button.mood {
    margin: 6px;
    border-radius: 0;
}

#headerwrap .logo {
    font-weight: 100;
    font-size: 110px;
    margin-bottom: 0;
}

button.mood:hover {
    background-color: #1270AF !important;
    border-color: #1270AF !important;
    box-shadow: none !important;
}

button.mood:focus {
    background-color: #1270AF !important;
    border-color: #1270AF !important;
    box-shadow: none !important;
}

button.active {
    background-color: #1270AF !important;
    border-color: #1270AF !important;
    box-shadow: none !important;
}

.description-row {
    margin-bottom: 10px;
    text-align: justify;
    font-size: 1.2em;
}

#google_translate_element {
    display:none;
}

#getEnglish {
    position: absolute;
    right: 30px;
    top: 40px;
    color: white;
    font-weight: bold;
}
