[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.date-selection {
    display: inline-block;
    background-color: #1270AF;
    padding: 5px 10px;
    cursor: pointer;
}

.datepicker:hover,
.datepicker {
    color: white;
    text-decoration: none;
}

hr {
    width: 100%;
}

button.mood {
    margin: 6px;
    border-radius: 0;
}

#headerwrap .logo {
    font-weight: 100;
    font-size: 110px;
    margin-bottom: 0;
}
